<div>
    <form [formGroup]="radioForm" (ngSubmit)="onSubmit(radioForm, $event)" novalidate role="form">

        <div class="form-group" [class.has-danger]="!radioForm.controls.name.valid && (radioForm.controls.name.touched || radioForm.submitted)">
            <input type="text" class="form-control" id="name" placeholder="" name="name" formControlName="name" required>
            <label class="floating-label" for="name">Radio station title</label>

            <div *ngIf="(radioForm.controls.name.hasError('required')  && (radioForm.controls.name.touched || radioForm.submitted)) || radioForm.controls.name.hasError('blank')"
                class="form-control-feedback">Please include your radio station title.</div>
        </div>

        <div class="form-group">
            <label class="center-block">Hosting type:
            <select class="form-control" formControlName="hosting">
                <option *ngFor="let hostingType of hostingTypes" [ngValue]="hostingType.id">{{hostingType.name}}</option>
            </select>
            </label>
        </div>

        <div *ngIf="radioForm.controls.hosting.value === HOSTING_TYPE.SELF_HOSTED" class="form-group">
            <label class="center-block">Payment type:
            <select class="form-control" formControlName="billing">
                <option *ngFor="let billingType of billingTypes" [ngValue]="billingType.id">{{billingType.name}}</option>
            </select>
            </label>
        </div>

        <div *ngIf="radioForm.controls.hosting.value === HOSTING_TYPE.SELF_HOSTED" class="form-group" [class.has-danger]="!radioForm.controls.ip.valid && (radioForm.controls.ip.touched || radioForm.submitted)">
            <input type="text" class="form-control" id="ip" placeholder="" name="ip" formControlName="ip" required>
            <label class="floating-label" for="ip">Your server IP</label>

            <div *ngIf="(radioForm.controls.ip.hasError('required')  && (radioForm.controls.ip.touched || radioForm.submitted)) || radioForm.controls.ip.hasError('blank')"
                class="form-control-feedback">Please include your server IP address.</div>

            <div *ngIf="radioForm.controls.ip.hasError('pattern')  && (radioForm.controls.ip.touched || radioForm.submitted)" class="form-control-feedback">IP address is invalid.</div>

        </div>

        <div *ngIf="radioForm.controls.hosting.value === HOSTING_TYPE.SELF_HOSTED" class="form-group">
            <input type="text" class="form-control" id="domain" placeholder="" name="domain" formControlName="domain">
            <label class="floating-label" for="domain">Radio station domain name</label>

            <div class="form-control-feedback">Choose a domain name your radio stream will be running on.</div>
        </div>

        <div *ngIf="radioForm.controls.hosting.value === HOSTING_TYPE.HOSTED" class="form-group">
            <label class="center-block">Server:
            <select class="form-control" formControlName="server">
                <option *ngFor="let server of availableServers" [ngValue]="server.id">{{server.ip}} ({{server.nodename}}): {{server.country}}, {{server.provider}}</option>
            </select>
            </label>
        </div>

        <div class="form-group" [class.has-danger]="!radioForm.controls.login.valid && (radioForm.controls.login.touched || radioForm.submitted)">
            <input (change)="checkLoginAvaile()" type="text" class="form-control" id="login" placeholder="" name="login" formControlName="login" required>
            <label  class="floating-label" for="login">Choose login</label>

            <div *ngIf="(radioForm.controls.login.hasError('required')  && (radioForm.controls.login.touched || radioForm.submitted)) || radioForm.controls.login.hasError('blank')"
                class="form-control-feedback">Please choose login.</div>
        </div>



        <div>
            <button *ngIf="!inEditMode" type="submit" class="btn btn-primary">Add Radio</button>
            <button *ngIf="inEditMode" type="submit" class="btn btn-primary btn-block">Save radio</button>
        </div>
    </form>
</div>